/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import "./typography.css";
@import "./body.css";
@import "./heading.css";
@import "./stars.css";


.transition {
  transition: 0.3s all ease;
}

.container {
  @apply w-full mx-auto px-8 text-black;
}
@screen md {
  .container {
    @apply w-2/3;
  }
}
@screen lg {
  .container {
    @apply w-1/2;
  }
}

.timeline {
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

.carousel .slide {
  background: transparent !important;
}
